@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #c6ebbe;
  --secondary: #2c6e49;
  --cta-bg: var(--primary);
  --cta-text: black;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
